---
const { 
  title, 
  style 
} = Astro.props;

const { slug } = Astro.params;
---

<div
  class={`hero relative overflow-hidden nebulix-parallax ${style.hero_surface || "surface-dark"} ${style.hero_class || ""}`}
  transition:name={`hero_${slug || Math.random()}`}
  id="header"
>
  <div class="media parallax h-full w-full sm:h-screen">
    <video
      class="absolute left-0 top-0 h-full w-full object-cover"
      src="/src/assets/videoHome.mp4"
      autoplay
      loop
      muted
      playsinline
    >
    </video>
  </div>
</div>
<style>
  .hero {
    @apply min-h-screen;
    @screen sm {
      min-height: calc(100vh - 4rem);
    }
  }
  .media {
    @apply max-h-screen;
    video {
      @apply object-cover;
    }
  }
</style>
